.cb-icon-group .icongroup {
    display: flex;
    flex-wrap: wrap;
    margin: -20px !important;
}
.cb-icon-group .icongroup-align-left {
    justify-content: flex-start;
}
.cb-icon-group .icongroup-align-center {
    justify-content: center;
}
.cb-icon-group .icongroup-align-right {
    justify-content: flex-end;
}
.cb-icon-group .icongroup-iconposition-left-top .icongroup-item {
    align-items: flex-start;
}
.cb-icon-group .icongroup-iconposition-left-center .icongroup-item {
    align-items: center;
}
.cb-icon-group .icongroup-iconposition-right-top .icongroup-item {
    align-items: flex-start;
}
.cb-icon-group .icongroup-iconposition-right-top .icongroup-item-icon {
    margin-left: 20px;
    margin-right: 0;
    order: 1;
}
.cb-icon-group .icongroup-iconposition-right-center .icongroup-item {
    align-items: center;
}
.cb-icon-group .icongroup-iconposition-right-center .icongroup-item-icon {
    margin-left: 20px;
    margin-right: 0;
    order: 1;
}
.cb-icon-group .icongroup-iconposition-above .icongroup-item, .cb-icon-group .icongroup-iconposition-below .icongroup-item {
    flex-wrap: wrap;
}
.cb-icon-group .icongroup-iconposition-above .icongroup-item-text, .cb-icon-group .icongroup-iconposition-below .icongroup-item-text {
    width: 100%;
    text-align: center;
}
.cb-icon-group .icongroup-iconposition-above .icongroup-item-icon, .cb-icon-group .icongroup-iconposition-below .icongroup-item-icon {
    margin-left: auto;
    margin-right: auto;
}
.cb-icon-group .icongroup-iconposition-below .icongroup-item-text {
    margin-bottom: 20px;
}
.cb-icon-group .icongroup-iconposition-below .icongroup-item-icon {
    order: 1;
}
.cb-icon-group .icongroup-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px;
    width: 100%;
}
.cb-icon-group .icongroup-item-icon {
    flex-shrink: 0;
    margin-right: 20px;
}
.cb-icon-group .icongroup-item-icon svg {
    display: block;
    width: 100%;
    height: auto;
}
.cb-icon-group .icongroup-item-text {
    flex-grow: 1;
}
.cb-icon-group .icongroup-item-text > *:last-child {
    margin-bottom: 0;
}
.cb-icon-group .icongroup-item-text-header {
    font-size: 1.25em;
    margin-bottom: 0.15em;
    margin-top: 0;
}
.cb-icon-group .icongroup-item-text-header a {
    text-decoration: none;
    color: #f80;
}
.cb-icon-group .icongroup-item-text-subheader {
    font-size: 1em;
}
.cb-icon-group .icongroup-columns-auto .icongroup-item {
    width: auto;
}
@media (min-width: 576px) {
    .cb-icon-group .icongroup-columns-2 .icongroup-item {
        width: calc(100% / 2 - 20px * 2);
    }
}
@media (min-width: 768px) {
    .cb-icon-group .icongroup-columns-3 .icongroup-item {
        width: calc(100% / 3 - 20px * 2);
    }
}
@media (min-width: 576px) {
    .cb-icon-group .icongroup-columns-4 .icongroup-item {
        width: calc(100% / 2 - 20px * 2);
    }
}
@media (min-width: 1200px) {
    .cb-icon-group .icongroup-columns-4 .icongroup-item {
        width: calc(100% / 4 - 20px * 2);
    }
}
