.cb-editor .cb-call-to-action {
    position: relative;
    min-height: 20px;
}

.cb-editor .cb-call-to-action summary {
    position: absolute;
    right: -10px;
    bottom: -10px;
    padding: 3px 8px;
    font-style: italic;
    background: #eaeaea;
    z-index: 2;
    border-radius: 2px 0;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0 0 1px;
}

.cb-editor .cb-call-to-action details {
    height: 0;
    transition: height 0.2s ease-out;
    overflow: hidden;
}

.cb-editor .cb-call-to-action details[open] {
    height: 140px;
}

.cb-editor .cb-call-to-action details[open] summary .icon-markup {
    transform: rotate(180deg);
}

.cb-editor .call-to-action__box {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin-top: 10px;
    max-width: 500px;
}

.cb-editor .call-to-action__wrapper {
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.cb-editor .call-to-action__overlay {
    box-shadow: 0 0 4px #0003;
    background: #fffb;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: calc(50px + 40%);
    padding: 10px 12px;
}

.cb-editor .call-to-action__overlay p {
    margin: 0;
}

.cb-editor .call-to-action__button {
    float: right;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    border: 1px solid #fab546;
    padding: 6px 16px;
    line-height: 1.5;
    border-radius: 2px;
    user-select: none;
    color: #fff;
    background-color: #f49700;
    transition: background-color 0.2s ease-out, border-color 0.1s ease-out;
}

.cb-editor .call-to-action__button:hover, .cb-editor .call-to-action__button:focus {
    background-color: #bc790f;
    border-color: #c48313;
}
