<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="card-container">
    <div class="card card-size-medium">
        <div class="card-header">
            <div class="card-icon">
                {icon -> f:format.raw()}
            </div>

            <div class="card-header-body">
                <h1 class="card-title">{title -> f:format.crop(maxCharacters: maxTitleLength)}<f:if condition="{extraFields.uid.value}"><code>[{extraFields.uid.value}]</code></f:if></h1>
                <f:if condition="{table}">
                    <span class="card-subtitle">{table}</span>
                </f:if>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <f:for each="{extraFields}" as="extraField">
                    <f:if condition="{extraField.isDatetime}">
                        <div class="col-md-6">
                            <strong>{extraField.fieldLabel}</strong><br>
                            {extraField.value}
                        </div>
                    </f:if>
                </f:for>
            </div>
            <f:if condition="{extraFields.creatorRecord}">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <strong>{extraFields.creatorRecord.fieldLabel}</strong>
                    </div>
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-left">
                                <be:avatar backendUser="{extraFields.creatorRecord.value.uid}" showIcon="true" />
                            </div>
                            <div class="media-body">
                                <f:if condition="{extraFields.creatorRecord.value.realName}">
                                    <f:then>{extraFields.creatorRecord.value.realName}<br>({extraFields.creatorRecord.value.username})</f:then>
                                    <f:else>{extraFields.creatorRecord.value.username}</f:else>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </div>
            </f:if>
        </div>
    </div>
</div>

</html>
