.cb-tabs .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.cb-tabs .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.cb-tabs .tab button:hover {
    background-color: #f80;
    color: #fff;
}

.cb-tabs .tab button.active {
    background-color: #f80;
    color: #fff;
}

.cb-tabs .tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
