# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
# Information about Settings.cfg:
#   https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/GeneralConventions/DirectoryFilenames.html#settings-cfg
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Attention:
#   Only " ;" can start an inline comment.
#   This is: blank PLUS semicolon!
#
# #####

[general]

# .................................................................................
# ...   (required) title (displayed in left sidebar (desktop) or top panel (mobile)
# .................................................................................

project = Content Blocks

# .................................................................................
# ...   (recommended) version, displayed next to title (desktop) and in <meta name="book-version"
# .................................................................................

version = main (development)
release = main (development)

# .................................................................................
# ...  (recommended) displayed in footer
# .................................................................................

copyright = since 2023 by TYPO3 Contributors

[html_theme_options]

# .................................................................................
# ...  (recommended) to get the "Edit me on Github Button"
# .................................................................................

github_repository = typo3/typo3
github_branch = main
path_to_documentation_dir = typo3/sysext/content_blocks/Documentation

# Footer links
project_home = https://typo3.org/community/teams/typo3-development/initiatives/structured-content/content-blocks
project_contact = https://typo3.org/community/teams/typo3-development/initiatives/structured-content/
project_repository = https://github.com/typo3/typo3
project_issues = https://forge.typo3.org/projects/typo3cms-core/issues
project_discussions =


[intersphinx_mapping]

# .................................................................................
# for cross-referencing across manuals (intersphinx) with :ref:
#
# You must uncomment all manuals you use in your cross-references
#
# Example usage:
#   :ref:`t3contribute:start` will link to start page of Contribution Guide
# .................................................................................

# h2document    = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/
t3coreapi = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
# t3editors     = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
# t3extbasebook = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/Index.html
# t3install     = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
# t3l10n        = https://docs.typo3.org/m/typo3/guide-frontendlocalization/master/en-us/
# t3start       = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
# t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
t3tca = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
# t3templating  = https://docs.typo3.org/m/typo3/tutorial-templating-with-fluid/master/en-us/
# t3ts45        = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
# t3tsconfig    = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
# t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/

[extensions]

# This is required for embedding YouTube videos

# any_name_youtube = sphinxcontrib.youtube
